* {
    /* color: white; */
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

:root{
    height: 600px;
    width: 400px;
    margin: 0;
    padding: 0;
    /* background-color: rgb(63, 63, 63); */
}

nav{
    height: 50px;
    margin: 5% 10px;
    display: flex;
    align-items: center;
}

main{
    padding: 1px 20px;
}

.task{
    height: 150px;
    width: 150px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

img{
    height: 29px;
}

.menu {
    margin-left: 5px;
}

.menu img{
    margin-left: 5px;
}

.menu a{
    text-decoration: none;
}

.coin{
    margin-left: auto; 
    margin-right: 10px;
    display: flex;
    align-items: center;
}

.coin label{
    margin-left: 5px;
}

  section {
    display: grid;
    grid-template-columns: var(--page-margin) [center-start] 1fr [center-end] var(--page-margin);
  }
  section > * {
    grid-column: center;
  }
  
  .cards-section {
    padding-bottom: 2em;
  }
  
  .cards-wrapper {
    padding: 1em;
    grid-column: center-start/-1;
    overflow: auto;
    display: flex;
    padding-bottom: 1em;
    /* box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2); */
    background-color: transparent;
  }
  .cards-wrapper .card {
    /* background-color: #d0f0ee; */
    color: black;
    height: 13em;
    min-width: 13em;
    margin-right: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
    overflow: hidden;
  }
  .cards-wrapper .card p {
    font-size: 1.5em;
  }
  .cards-wrapper .card:last-child {
    margin-right: 0;
  }
  .cards-wrapper::after {
    content: "";
    display: block;
    min-width: var(--page-margin);
  }
  
  .card:hover{
    background-color: cornsilk;
    color: #8f9292;
  }

  .dark{
    background-color: #121212;
    color: white;
  }

  .task-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 2em;
    overflow-y: scroll;
    height: 400px;
  }
  

.task-container::-webkit-scrollbar {
  display: none;
}
  
  .task {
    height: 13em;
    width: 13em;
    margin-top: 1em;
    margin-bottom: 1em;
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  body::-webkit-scrollbar {
    display: none;
  }

  .item-image {
    height: 6em;
    width: 6em;
}

.item-title {
    font-weight: normal;
    font-size: small;
    text-align: center;
    padding: 0 0.5rem;
}

a {
  color: black;
  text-decoration: none;
}
