body::-webkit-scrollbar {
  display: none;
}

.shop-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  padding-bottom: 2em;
}

.shop-item {
  width: 13em;
  margin-bottom: 1em;
  background-color: white;
  border-radius: 10px;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px 0;
}

.item-image {
  height: 6em;
  width: 6em;
}

.item-title {
  font-weight: normal;
  font-size: medium;
}

.item-price {
  font-weight: normal;
  font-size: small;
}

.item-coin {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 5em;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  padding: 8px 10px;
  border-radius: 6px;
  color: white;
}

.item-coin img {
  height: 1.5em;
}

.can-purchase {
  background-color: rgb(108, 188, 245);
  cursor: pointer;
}

.cannot-purchase {
  background-color: rgb(233, 233, 233);
}

.website-label {
  margin-bottom: 10px;
  font-style: italic;
  color: black;
}
