* {
    box-sizing: border-box;
}

.spinner-container {
    position: relative;
    width: 300px;
    height: 300px;
    /* background-color: wheat; */
    display: flex;
    align-items: center;
    transform: translate(14%, 15%);
    box-shadow: 0 3px 26px rgba(0, 0, 0, 0.404);
    border-radius: 50%;
}
/* .spinner-container::after{
    position: absolute;
    content: '';
    width: 32px;
    height: 32px;
    background: url('assets/down-arrow.png') no-repeat;
    background-size: 32px;
    right: -30px;
} */

.spinner{
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 50%;
    border: 10px solid #F05945;
    overflow: hidden;
    transition: all ease 5s;
    background-color: #EC8F6A;
}

.spinner-items{
    color: yellow;
}

span{
    width: 141px;
    height: 142px;
    display: inline-block;
    position: adsolute;
}
span b{
    width: 50px;
    height: 50px;
    line-height: 135px;
    padding: 50px;
    font-size: 20px;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.item1{
    clip-path: polygon(0% 92%, 100% 50%, 0 8%);
    background-color: #7ECFC0;
    transform: translate(-4%, 45%);
    left: 0;
}
.item2{
    clip-path: polygon(100% 92%, 0% 50%, 100% 8%);
    background-color: #F2E3C9;
    transform: translate(98%, -55%);
    left: 0;
}
.item3{
    clip-path: polygon(50% 0%, 8% 100%, 92% 100%);
    background-color: #EC8F6A;
    transform: translate(48%, -103%);
    left: 0;
}
.item4{
    clip-path: polygon(50% 100%, 92% 0%, 8% 0%);
    background-color: #EF4B4B;
    transform: translate(49%, -306%);
    left: 0;
}
.spinner-item2{
    width: 100px;
    height: 100px;
    transform: translate(91%, -360%) rotate(-135deg);
}
.spin-btn{
    position: absolute;
    /* top: 38%;
    left: 39%; */
    transform: translate(166%, 3%);
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 5px #F0E4D7 solid;
    background-color: white;
    box-shadow: 0 3px 26px rgba(0, 0, 0, 0.404);
    cursor: pointer;
}
.spin-btn:active{
    width: 68px;
    height: 68px;
    transform: translate(173%, 2%);
    font-size: 99%;
}

#arrow{
    transform: translate(46%, 150%);
}
#arrow img{
    height: 30px;
}

.text{
    font-size: 20px;
    transform: translate(20%, 20%);
}
#2{
    transform: rotate(20deg);
}
.value{
    transform: translate(30%);
}
#text{
    padding: 1px 0px 0 20px;
}
.spinner-outerbox{
    transform: translate(0%, -6%);
}