<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css?family=Play:400,700"
      rel="stylesheet"
      type="text/css"
    />
    <link rel="stylesheet" href="style.css" rel="stylesheet" />
  </head>
  <body>
    <canvas id="game-canvas" width="640" height="640"></canvas>
  </body>
  <script src="script.js"></script>
</html>
